@import "../../global.scss";

.projects{
    background-color: rgb(255, 234, 117);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        @include mobile{
            display: none;
        }

        &.left{
            left: 150px;
            transform: rotate(90deg);
        }

        &.right{
            right: 150px;
            transform: rotate(270deg);
        }
    }

    .slider{
        height: 390px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }
       
        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 740px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    width: 90%;
                    height: 160px;
                    margin: 5px 0px;
                }

            }

            .left{
                flex: 4;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .leftContainer{
                    width: 90%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    @include mobile{
                        flex-direction: row;
                        height: 100%;
                    }

                    .titleContainer{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        
                        @include mobile{
                            flex: .3;
                        }
        

                        .imgContainer{
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            background-color: rgb(255, 44, 86);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include mobile{
                                margin-left: 5px;
                            }
    
                            img{
                                width: 70px;
                            }
                        }
                        h2{
                            font-size: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $mainColor;
                            margin: 10px;
    
                            @include mobile{
                                font-size: 12px;
                                padding: 5px;
                                text-align: center;
                                margin-right: 10px;
                            }
                        }
                    }

                    h4{
                        font-size: 12px;
                        font-weight: 400;
                        color: $mainColor;

                        @include mobile{
                            height: 90%;
                            width: 90%;
                            flex: .7;
                        }
        
                    }
                    p{
                        font-size: 12px;
                        border-radius: 10px;
                        background-color: rgb(255, 248, 211);
                        padding: 4px;
                        color: $mainColor;

                        @include mobile{
                            display: none;
                        }
                    }
                }
            }

            .right{
                flex: 8;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background-color: rgb(235, 197, 28);

                @include mobile{
                    display: none;
                }

                img{
                    width: 800px;
                    transform: rotate(-10deg);

                }
            }
        }
    }

}