@import "../../global.scss";

.portfolioList{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;

    @include mobile{
        margin-right: 15px;
    }

    &.active{
        background-color: $mainColor;
        color: white;
    }
}